<!DOCTYPE html>
<html lang="es">
<head>
	<title>Portafolio Che</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400italic,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#yo">Yo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#perfil">Perfil</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#trabajo">Trabajo</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#contacto">Contacto</a>
				</li>
			</ul>	
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/che.jpg" alt="Imagen personal" class="Header-image" />
			<figcaption class="Header-imageDescription">
				<a class="Header-link" href="http://twitter.com/chegermein" target="_black">@chegermein</a>
			</figcaption>
			<p class="Header-name">German Canela</p>
		</figure>
	</header>
	<section id="perfil" class="Profile">
			<h2 class="Profile-title u-title">Mi Perfil</h2>
			<p class="Profile-description">Hola soy chegermein y estoy a tus ordenes para lo que necesites llamame y platicamos</p>
			<a class="Profile-link" href="http://twitter.com/chegermein/" target="_black">@chegermein</a>
			<a class="Profile-link" href="http://facebook.com/chegermein/" target="_black">Che Germein</a>
			<a class="Profile-link" href="http://github.com/chegermein/" target="_black">German</a>
		</section>
		<section id="trabajo" class="Work">
			<h2 class="Work-title u-title">Mi Trabajo</h2>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
			<article class="Work-item">
				<figure class="Work-imageContainer">
					<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descipcion de mi imagen"><figcaption class="Work-description">Website de mejorandola.la</figcaption>
				</figure>
			</article>
	    </section>
	<footer class="Footer" id="contacto">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
		</div>
		<form class="Footer-form">
			<input class="Footer-formInput" text="text" placeholder="Nombre"/>
			<input class="Footer-formInput" text="email" placeholder="Email"/>
			<textarea class="Footer-textarea" placeholder="Motivo"></textarea>
			<button type="submit" class="Footer-button"> Contactarme </button>
		</form>
	</footer>
</body>
</html>